body {
    background-color: #0f0f0f;
    color: #cfcfcf;
}

#searchbox {
    margin-right: 1em;
}

.bi {
    width: 1.5em;
    height: 1.5em;
}

.header-text {
    font-size: 1.5em;
}

.alert {
    font-size: 1em;
    display: d-inline-block;
}

.table-font-size {
    font-size: 1.3em;
}

.inline-display {
    display: inline-block;
}
