body {
    background-color: #0f0f0f;
    color: #cfcfcf;
}

#searchbox {
    margin-right: 1em;
}

.bi {
    width: 1.5em;
    height: 1.5em;
}

.header-text {
    font-size: 1.5em;
}

.alert {
    font-size: 1em;
    display: d-inline-block;
}

.table-font-size {
    font-size: 1.3em;
}

.inline-display {
    display: inline-block;
}

.pos-relative {
    position: relative;
}

.profile-pfp {
    width: 20em;
    height: 20em;
    display: block;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pfp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-about {
    position: absolute;
    left: 30%;
    right: 10%;
    top: 1em;
}

.indent-to-right-of-post {
    position: absolute;
    right: 1%;
    height: 19%;
}

.indent-to-a-bit-right-of-post {
    position: absolute;
    right: 6%;
    height: 19%;
}

.nav-user-pfp {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    margin-right: 0.5vh;
    object-fit: cover;
}

.search-btn-round {
    border-radius: 25%;
    margin-right: 3em;
}