body {
    background-color: #0f0f0f;
    color: #cfcfcf;
}

#searchbox {
    margin-right: 0.5em;
}

.bi {
    width: 1.5em;
    height: 1.5em;
}

.profile-pfp {
    width: 17em;
    height: 17em;
    display: block;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pfp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.front-of-pfp {
    position: absolute;
    left: 25%;
    right: 35%;
    top: 1em;
}

.indent-to-right-of-post {
    position: absolute;
    right: 0.75em;
}

.indent-to-top-right-of-post {
    position: absolute;
    top: 0.25em;
    right: 0.75em;
}

.nav-user-pfp {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    margin-right: 0.5em;
    object-fit: cover;
}

.search-btn-round {
    border-radius: 25%;
    margin-right: 3em;
}

.alot-of-content {
    max-width: 95%;
    white-space: pre-wrap;
    overflow: hidden;
}

.ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 6;
}

.feed-user-pfp-name {
    position: absolute;
    bottom: 1.5em;
}

.search-user-about {
    white-space: pre-wrap;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.profile-following {
    position: relative;
}

.follow-btn {
    position: absolute;
    right: 2em;
    top: 1em;
}

.followers-profile-view {
    white-space: pre-wrap;
    position:absolute;
    top: 1em;
    right: 6.8em; 
}

.followers-profile {
    white-space: pre-wrap;
    position:absolute;
    top: 1em;
    right: 2em; 
}
