<!doctype html>
<html lang="en">
  	<head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>social-platform</title>
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  	</head>
	
  	<body data-spy="scroll" data-target=".navbar" data-offset="50">

    	<div class="container" data-bs-theme="dark">
			{% block content %}
			{% endblock %}
    	</div>
		
		<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/script.js') }}"></script>
  	</body>
</html>