{% extends "base.html" %}

{% block content %}
	{% include 'navbar.html' %}
	{% include 'flashes.html' %}

	<div class="shadow-sm p-3 mb-5 rounded bg-body-tertiary">
		
        {% if conversations %}
		{% for conversation in conversations %}
        <div class="card hover-overlay shadow-1-strong rounded">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <div class="posts-user-pfp-name position-relative">
                    <a href="{{ url_for('message_conversation', receiver_id=conversation[0]) }}" class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-25-hover">
                        {% if not conversation[2] %}
                        <img src="{{ url_for('static', filename='images/default_pfp.jpg') }}" class="nav-user-pfp" alt="{{ conversation[1] }}'s profile picture">
                        {% else %}
                        <img src="{{ conversation[2] }}" class="nav-user-pfp" alt="{{ conversation[1] }}'s profile picture">
                        {% endif %}
                        You exchanged messages with <span class="fw-bold">{{ conversation[1] }}</span> on <span class="fw-bold">{{ conversation[3] }}</span>
                    </a><br>
                    </div>
                </blockquote>
            </div>
        </div><br>
        {% endfor %}
        {% else %}
        <h3>No conversations</h3>
        {% endif %}

    </div>

{% endblock %}	