{% extends "base.html" %}

{% block content %}
    {% include 'navbar.html' %}
    {% include 'flashes.html' %}
    <h1>{{ user[1] }}'s post</h1>
    <br>

    <div class="shadow-sm p-3 mb-5 rounded bg-body-tertiary">
        <div class="card hover-overlay shadow-1-strong rounded">
            <div class="card-header">
                <div class="alot-of-content">{{ post[2] }}</div>
                {% if current_user.id == user[0] %}
                <a class="btn btn-outline-danger btn-sm indent-to-top-right-of-post" href="{{ url_for('post_delete', post_id=post[0])}}">Delete</a>
                <a class="btn btn-outline-secondary btn-sm indent-to-top-right-of-post" style="right: 5.3em;" href="{{ url_for('post_edit', post_id=post[0])}}">Edit</a>
                {% endif %}
            </div>

            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    {% if post[3] %}
                    <p class="text-break alot-of-content" style="max-height:none;">{{ post[3] }}</p>
                    {% else %}
                    <p class="text-muted fw-lighter">No content entered yet</p>
                    {% endif %}
                    <br>
                    <br>
                    <div class="blockquote-footer">{{ post_endorsements }} endorsements</div>
                    <div class="blockquote-footer">{{ post_condemnations }} condemnations</div>
                    {% if user_endorsement == 'Endorsement' %}
                        <a href="{{ url_for('endorse', post_id=post[0], endorsement_type='Endorsement') }}" class="btn btn-danger">Endorse</a>
                        <a href="{{ url_for('endorse', post_id=post[0], endorsement_type='Condemnation') }}" class="btn btn-outline-secondary">Condemn</a>
                    {% elif user_endorsement == 'Condemnation' %}
                        <a href="{{ url_for('endorse', post_id=post[0], endorsement_type='Endorsement') }}" class="btn btn-outline-danger">Endorse</a>
                        <a href="{{ url_for('endorse', post_id=post[0], endorsement_type='Condemnation') }}" class="btn btn-secondary">Condemn</a>
                    {% else %}
                        <a href="{{ url_for('endorse', post_id=post[0], endorsement_type='Endorsement') }}" class="btn btn-outline-danger">Endorse</a>
                        <a href="{{ url_for('endorse', post_id=post[0], endorsement_type='Condemnation') }}" class="btn btn-outline-secondary">Condemn</a>
                    {% endif %}
                    <div class="blockquote-footer indent-to-right-of-post">Created on: <cite title="Source Title">{{ post[4] }}</cite></div><br><br>
                    <div class="blockquote-footer indent-to-right-of-post">Created by: <a href="{{ url_for('profile_view', user_id=user[0]) }}" class="link-danger link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">{{ user[1] }}</a></div>
                </blockquote>
            </div>
        </div>        
    </div>

    <h1>{{ comment_count }} Comments on {{ user[1] }}'s post</h1>
    <br>
    <div class="shadow-sm p-3 mb-5 rounded bg-body-tertiary">
        <div class="card hover-overlay shadow-1-strong rounded">
            {% if current_user.is_authenticated %}
                {% if current_user.privacy == 'Public' %}
                <div class="card-header text-secondary">
                    Perhaps, comment here?
                </div>

                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <form method="post">
                            {{ form.hidden_tag() }}
                            {{ form.contents_f.label(class="form-label") }}
                            {{ form.contents_f(class="form-control") }}
                            <br>
                            {{ form.submit_f(class="btn btn-outline-danger") }}
                        </form>
                    </blockquote>
                </div>
                {% else %}
                <div class="card-header text-secondary">
                    Your privacy must be public to comment.
                </div>
                {% endif %}
            {% else %}
            <div class="card-header text-secondary">
                You must be logged in to comment.
            </div>
            {% endif %}
        </div><br><hr><br>
        
        {% if post_comments %}
        {% for comment in post_comments %}
        <div class="card hover-overlay shadow-1-strong rounded">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <div class="posts-user-pfp-name position-relative">
                        <a href="{{ url_for('profile_view', user_id=comment[3]) }}" class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-25-hover">
                            {% if not comment[6] %}
                            <img src="{{ url_for('static', filename='images/default_pfp_f.jpg') }}" class="nav-user-pfp" alt="{{ comment[4] }}'s profile picture">
                            {% else %}
                            <img src="{{ comment[6] }}" class="nav-user-pfp" alt="{{ comment[4] }}'s profile picture">
                            {% endif %}
                            <strong>{{ comment[4] }}</strong>
                        </a>
                        {% if comment[1] and not comment[1] == "" %}
                        <br><br>
                        <div class="user-comment-content">{{ comment[1] }}</div>
                        {% endif %}
                        {% if current_user.is_authenticated and current_user.id == comment[3] %}
                        <a class="btn btn-outline-danger btn-sm indent-to-top-right-of-comment" href="{{ url_for('comment_delete', comment_id=comment[0])}}">Delete</a>
                        <a class="btn btn-outline-secondary btn-sm indent-to-top-right-of-comment" style="right: 5em;" href="{{ url_for('comment_edit', comment_id=comment[0])}}">Edit</a>
                        {% endif %}
                    </div>
                </blockquote>
            </div>
        </div><br><br>
        {% endfor %}
        {% endif %}
    </div>

{% endblock %}