{% extends "base.html" %}

{% block content %}
    {% include 'navbar.html' %}
    {% include 'flashes.html' %}
{% if user["account_status"] == 'Deleted' %}

    <h1 class="text-danger">This account has been or is scheduled to be deleted</h1>

{% else %}

    <h1>{{ user["display_name"] }}'s profile</h1>
    <br>
    <div class="shadow-sm p-3 mb-5 rounded bg-body-tertiary position-relative">
        
        <div class="profile-pfp">
            {% if not user["pfp_url"] %}
            <img src="{{ url_for('static', filename='images/default_pfp_f.jpg') }}" alt="Profile Picture Default">
            {% else %}
            <img src="{{ user['pfp_url'] }}" alt="Profile Picture Default">
            {% endif %}
        </div>

        {% if user["privacy"] == 'Private' %}
            <div class="profile-display-name text-muted">"{{ user["display_name"] }}"</div>

            <h2 class="fw-lighter">Account created on</h2>
            <p>{{ user["signup_date"] }}</p>
            <hr>

            <h5 class="text-danger">This user has set their profile to private</h5>
        {% else %}
            {% if current_user.is_authenticated and not user['is_already_followed'] %}
            <a href="{{ url_for('follow', followed_id=user['id']) }}" type="submit" class="btn btn-outline-danger btn-sm follow-btn">Follow</a>
            {% elif current_user.is_authenticated and user['is_already_followed']%}
            <a href="{{ url_for('unfollow', followed_id=user['id']) }}" type="submit" class="btn btn-danger btn-sm follow-btn">Unfollow</a>
            {% endif %}
            
            <p class="text-muted followers-profile-view">{{ user['followers'] }} followers</p>
            
            <div class="profile-display-name">"{{ user["display_name"] }}"</div>

            {% if user["about"] %}
            <h2 class="fw-lighter">About</h2>
            <p class="alot-of-content">{{ user["about"]}}</p>
            <hr>
            {% endif %}

            {% if user["location"] %}
            <h2 class="fw-lighter">Location</h2>
            <p>{{ user["location"] }}</p>
            <hr>
            {% endif %}

            {% if user["age"] %}
            <h2 class="fw-lighter">Age</h2>
            <p>{{ user["age"] }}</p>
            <hr>
            {% endif %}
            
            <h2 class="fw-lighter">Email</h2>
            <p>{{ user["email_address"] }}</p>
            <hr>

            <h2 class="fw-lighter">Account created on</h2>
            <p>{{ user["signup_date"] }}</p>
            
        {% endif %}

    </div>

    {% if user["privacy"] == 'Public' %}
    <hr>
    <h1>{{ user["display_name"] }}'s Posts</h1>
    <br>

    <div class="shadow-sm p-3 mb-5 rounded bg-body-tertiary position-relative">
    {% for post in user["posts"] %}
        <div class="card hover-overlay shadow-1-strong rounded">

            <div class="card-header">
                <div class="alot-of-content">{{ post[2] }}</div>
                <a class="btn btn-outline-secondary btn-sm indent-to-top-right-of-post" href="{{ url_for('post_view', post_id=post[0])}}">View</a>
            </div>

            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    {% if post[3] %}
                    <p class="text-break alot-of-content ellipsis">{{ post[3] }}</p>
                    {% else %}
                    <p class="text-muted fw-lighter">No content entered yet</p>
                    {% endif %}
                    <br>
                    <div class="text-secondary">Created on: {{ post[4] }}</div>
                </blockquote>
            </div>

        </div>
        <br>
    {% endfor %}
    </div>
    {% endif %}

{% endif %}
{% endblock %}