{% extends "base.html" %}

{% block content %}
    {% include 'navbar.html' %}
    {% include 'flashes.html' %}
    <h1>{{ user["display_name"] }}'s profile</h1>
    <br>
    <div class="shadow-sm p-3 mb-5 rounded bg-body-tertiary position-relative">
        
        <div class="profile-pfp">
            {% if not user["pfp_url"] %}
            <img src="{{ url_for('static', filename='images/default_pfp_f.jpg') }}" alt="Profile Picture Default">
            {% else %}
            <img src="{{ user['pfp_url'] }}" alt="Profile Picture Default">
            {% endif %}
        </div>
        <br>
        
        {% if user["privacy"] == 'Private' %}
        <hr>
        <h5 class="text-danger">This user has set their profile to private</h5>
        <div class="front-of-pfp">
            <h2>Display name</h2>
            <p>{{ user["display_name"] }}</p>
            <hr>

            <h2>Email</h2>
            <p>{{ user["email_address"] }}</p>
            <hr>

            <h2>Account created on</h2>
            <p>{{ user["signup_date"] }}</p>
        </div>
        {% else %}

            <h2>About</h2><hr>
            {% if not user["about"] %}
            <p class="text-muted fw-lighter">No bio yet</p>
            {% else %}
            <p class="alot-of-content">{{ user["about"]}}</p>
            {% endif %}
            <hr>

            <h2>Location</h2>
            {% if not user["location"] %}
            <p class="text-muted fw-lighter">Not entered yet</p>
            {% else %}
            <p>{{ user["location"] }}</p>
            {% endif %}
            <hr>

            <h2>Age</h2>
            {% if not user["age"] %}
            <p class="text-muted fw-lighter">Not entered yet</p>
            {% else %}
            <p>{{ user["age"] }}</p>
            {% endif %}
            <hr>

        {% endif %}

    </div>

    {% if user["privacy"] == 'Public' %}
    <hr>
    <h1>{{ user["display_name"] }}'s Posts</h1>
    <br>

    <div class="shadow-sm p-3 mb-5 rounded bg-body-tertiary position-relative">
    {% for post in user["posts"] %}
        <div class="card hover-overlay shadow-1-strong rounded">

            <div class="card-header">
                <div class="alot-of-content">{{ post[3] }}</div>
                <a class="btn btn-outline-secondary btn-sm indent-to-top-right-of-post" href="{{ url_for('post_view', post_id=post[0])}}">View</a>
            </div>

            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    {% if post[4] %}
                    <p class="text-break alot-of-content ellipsis">{{ post[4] }}</p>
                    {% else %}
                    <p class="text-muted fw-lighter">No content entered yet</p>
                    {% endif %}
                    <footer class="blockquote-footer indent-to-right-of-post">Created on: <cite title="Source Title">{{ post[5] }}</cite></footer>
                </blockquote>
            </div>

        </div>
        <br>
    {% endfor %}
    </div>
    {% endif %}

{% endblock %}