{% extends "base.html" %}

{% block content %}
    {% include 'navbar.html' %}
    {% include 'flashes.html' %}
    
    <h1>Your profile (edit)</h1>
    <br>

    <div class="shadow-sm p-3 mb-5 rounded bg-body-tertiary">
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.display_name_f.label(class="form-label") }}
            {{ form.display_name_f(class="form-control") }}
            <br>
            {{ form.email_f.label(class="form-label") }}
            {{ form.email_f(class="form-control") }}
            <br>
            {{ form.pfp_url_f.label(class="form-label") }}
            {{ form.pfp_url_f(class="form-control") }}
            <br>
            {{ form.about_f.label(class="form-label") }}
            {{ form.about_f(class="form-control", rows=5) }}
            <br>
            {{ form.date_of_birth_f.label(class="form-label") }}
            {{ form.date_of_birth_f(class="form-control") }}
            <br>
            {{ form.location_f.label(class="form-label") }}
            {{ form.location_f(class="form-control") }}
            <br>
            {{ form.privacy_f.label(class="form-label") }}
            {{ form.privacy_f(class="form-control") }}
            <br>
            {{ form.submit_f(class="btn btn-danger") }}
        </form>
        <br>
        <hr>
        <a href="{{ url_for('profile_password_change') }}" class="btn btn-outline-danger btn-sm">Change Password</a>
        <hr>
        <a href="{{ url_for('profile_delete', user_id=user['id']) }}" class="btn btn-outline-danger btn-sm">Delete Account</a>
    </div>

{% endblock %}