{% extends "base.html" %}

{% block content %}
    {% include 'navbar.html' %}
    {% include 'flashes.html' %}
    
    <h1>Change your password</h1>
    <br>

    <div class="shadow-sm p-3 mb-5 rounded bg-body-tertiary">
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.old_password_f.label(class="form-label") }}
            {{ form.old_password_f(class="form-control") }}
            <br>
            {{ form.new_password_f.label(class="form-label") }}
            {{ form.new_password_f(class="form-control") }}
            <br>
            {{ form.new_password_confirm_f.label(class="form-label") }}
            {{ form.new_password_confirm_f(class="form-control") }}
            <br>
            {{ form.submit_f(class="btn btn-outline-danger") }}
        </form>
    </div>

{% endblock %}