{% extends "base.html" %}

{% block content %}
    {% include 'navbar.html' %}
    {% include 'flashes.html' %}
    <h1>{{ user["display_name"] }}'s profile</h1>
    <br>
    <div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded form-bg-dark pos-relative" data-bs-theme="dark">
        <div class="profile-pfp">
            {% if not user["pfp_url"] %}
                <img src="{{ url_for('static', filename='images/default_pfp_f.jpg') }}" alt="Profile Picture Default">
            {% else %}
                <img src="{{ user['pfp_url'] }}" alt="Profile Picture Default">
            {% endif %}
        </div>
        <br>
        <hr>

        <div class="profile-about">
            <h2>About</h2><hr>
            {% if not user["about"] %}
                <p class="text-muted fw-lighter">No bio yet</p>
            {% else %}
                <p>{{ user["about"] }}</p>
            {% endif %}
        </div>

        <h2>Email</h2>
        <p>{{ user["email_address"] }}</p>
        <hr>

        <h2>Gender</h2>
        {% if not user["gender"] %}
            <p class="text-muted fw-lighter">Not specified yet</p>
        {% else %}
            <p>{{ user["gender"] }}</p>
        {% endif %}
        <hr>

        <h2>Location</h2>
        {% if not user["location"] %}
            <p class="text-muted fw-lighter">Not entered yet</p>
        {% else %}
            <p>{{ user["location"] }}</p>
        {% endif %}
        <hr>

        <h2>Age</h2>
        {% if not user["age"] %}
            <p class="text-muted fw-lighter">Not entered yet</p>
        {% else %}
            <p>{{ user["age"] }}</p>
        {% endif %}
        <hr>

        <h2>Date of birth</h2>
        {% if not user["date_of_birth"] %}
            <p class="text-muted fw-lighter">Not entered yet</p>
        {% else %}
            <p>{{ user["date_of_birth"] }}</p>
        {% endif %}
        <hr>

        <h2>Account creation date</h2>
        <p>{{ user["signup_date"] }}</p>
        <hr>
        <a href="{{ url_for('profile_edit') }}"><button class="btn btn-outline-danger">Account settings</button></a>
    </div>

{% endblock %}