{% extends "base.html" %}

{% block content %}
    <br>
    <h1>Sign up</h1>
    <hr>
    {% include 'flashes.html' %}
    <div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded form-bg-dark" data-bs-theme="dark">
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.display_name_f.label(class="form-label") }}
            {{ form.display_name_f(class="form-control") }}
            <br>
            {{ form.email_f.label(class="form-label") }}
            {{ form.email_f(class="form-control") }}
            <br>
            {{ form.password_f.label(class="form-label") }}
            {{ form.password_f(class="form-control") }}
            <br>
            {{ form.password_confirm_f.label(class="form-label") }}
            {{ form.password_confirm_f(class="form-control") }}
            <br>
            {{ form.submit_f(class="btn btn-outline-danger") }}
        </form>
        <br>
        <p>Already have an account? <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{ url_for('login') }}">Login here</a></p>
    </div>
{% endblock %}