{% extends "base.html" %}

{% block content %}
	{% include 'navbar.html' %}
    <h2>All Users</h2>
    <hr>
    <table class="table table-hover table-striped table-dark table-borderless table-font-size">
        <thead>
            <tr>
                <th>#</th>
                <th>Display name</th>
                <th>Email address</th>
                <th>Signup date</th>
                <th>Acount status</th>
                <th>Gender</th>
                <th>About</th>
                <th>Location</th>
                <th>DOB</th>
                <th>Privacy</th>
                <th>Link</th>
            </tr>   
        </thead>
        {% for user in all_users %}
            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
                <td>{{ user[2] }}</td>
                <td>{{ user[4] }}</td>
                <td>{{ user[5] }}</td>
                <td>{{ user[7] }}</td>
                <td class="text-break">{{ user[8] }}</td>
                <td>{{ user[9] }}</td>
                <td>{{ user[10] }}</td>
                <td>{{ user[11] }}</td>
                <td><a href="{{ url_for('profile_view', user_id=user[0]) }}">View</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}